.selfie {
  padding: 50px 20px;
  float: right;
  width: 300px;
  grid-column-start: 2;

}

.selfie > .image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
}

.selfie > .profile-pic {
  display: inline;
  margin: auto;
  height: auto;
  width: auto;
}

.about {
  padding: auto .5rem;
  line-height: 1.6em;
  margin-top: 5%;

}

.tech {
  padding-top: 2%;
}

.addpadd {
  padding-top: 5%;
}


/* @media (min-width: 500px) {
  .about-wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "selfie selfie selfie"
      "tech" "tech" "tech" "tech"
      "footer footer footer";
  } */
