body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
  height: 100%;
  background-color: ghostwhite;
}

.index-wrapper {
  display: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  grid-gap: 20px;
  margin: 100px;
}


.fixed-nav {
  display: flex;
  position: fixed;
  /* margin: 20px 50px 20px 85%; */
  width: 100%;
  flex-direction: column;
  /* justify-content: space-between; */

}

.fixed-nav > .email {
  width: 100%;
}

.fixed-nav > .email > h4 {
  font-size: 1.2vw;
  overflow: hidden;
  text-align: right;
}



.menu {
  padding: 500px 0px 220px 0px;
}


.menu a {
  background-color: black;
  padding: 1px 20px;
  color: white;
  border-radius: 2px;
  width: 29px;
}




.header {
  display: flex;
  background-color: white;
  padding: 100px;
  align-items: left;
  font-size: 2em;
  height: 75vh;
}

.header-text {
  align: left;
  padding: 50px;
  font-family: monospace;

}

.header a {
  display: inline-block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.header a.active {
  color: black;
  font-weight: bold;

}

.header a:hover:not(.active) {
  color: black;
  font-weight: bold;
  transition: .3s;
}

.social-media-links {

  padding: 30px;
  width: 100%;
  align-items: center;

}

.social-media-links a {
  justify-content: space-between;
  align-items: center;
  padding: 30px;


}


.social-media-links img {
  width: 30px;
  height: 30px;
  justify-content: space-between;
  filter: grayscale(100%);
}








/* Style the footer */
.footer {
  background-color: blanchedalmond;
  padding: 30px;
  text-align: center;
  width: 100%;


}

.footer > .footer-text {
  text-align: center;
  width: 100%;
  padding: 30px;

}
