:root {
    --primary-color: white;
    --secondary-color: black;
    --font-color: black;
    --bg-color: white;
    --heading-color: black;
    --imgfilter: none;
}

[data-theme="dark"] {
    --primary-color: black;
    --secondary-color: white;
    --font-color: white;
    --bg-color: #040408;
    --heading-color: white;
    --imgfilter: invert(1);
    --giffilter: invert(100) hue-rotate(100deg);
}

* {
  margin:0px;
}

body, html {
  width:100%;
  height:100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  /* overflow-x:hidden; */
  color: var(--font-color)
  /* position: relative; */
}

a {
  text-decoration: underline;
  /* font-weight: bold; */

  color: var(--font-color);

}

a.active {
  color: var(--font-color);
  font-weight: bold;

}

a:hover:not(.active) {
  color: var(--font-color);
  font-weight: bold;
  /* text-decoration: underline; */
  transition: .3s;
}


.nav-bar, .projects, .intro, .footer, .about, .latest-post {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;

}

.nav-email a {
  text-decoration: none;
  font-size: 1.2em;
}

.nav-email a:hover:not(.active) {
  color: silver;
  transition: .3s;
  font-size: 1.5em;
}

.intro {
  display: flex;
  /* justify-content: center; */
  align-content: flex-end;
  margin: 3% auto;
  padding-left: 10%;
  /* font-style: italic; */
  font-size: 1.2em;
  font-family: monospace;
}

.border {
  border-left: 6px solid darkcyan;
  padding-left: 5%;
  border-radius: 5px 5px;

}

.projects {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;

}

.card {
  display: grid;
  box-shadow: 0px 1px 5px #555;
}

.card_photo {

}

.card_photo img {
  /* width: 500px; */
  /* border:1px solid #021a40; */
  filter: var(--giffilter);
  max-width: 100%;

}

.card_description {
  padding: .5rem;
  line-height: 1.6em;
}



.card .button {
  align-self: end;
}



.card_title img {
  width: 30px;
  height: 30px;
  /* filter: grayscale(100%); */
  filter: var(--imgfilter);
}

.card_more {
  display: flex;
  justify-content: space-between;
}

.footer {
  /* background-color: blanchedalmond; */
}






.social-media-links img {
  width: 30px;
  height: 30px;
  /* filter: grayscale(100%); */
  filter: var(--imgfilter);

}


.social-media-links a:hover {
  transform: scale(1.2);
  transition: .3s;
  /* filter: grayscale(100%); */
}
















.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10%;
  /* width: 85%; */


  em {
    /* margin-left: 10px; */
    /* font-size: 1rem; */
  }
}
.theme-switch {
  /* display: inline-block; */
  height: 34px;
  position: relative;
  width: 60px;

}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px
}

input:checked + .slider {
  background-color: salmon;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





@media screen and (max-width: 768px){
  .nav-bar, .projects, .intro, .footer, .about, .latest-post {
    width: 90%;
  }


}
