:root {
    --primary-color: white;
    --secondary-color: black;
    --font-color: black;
    --bg-color: white;
    --heading-color: black;
    --imgfilter: none;
}

[data-theme="dark"] {
    --primary-color: black;
    --secondary-color: white;
    --font-color: white;
    --bg-color: #040408;
    --heading-color: white;
    --imgfilter: invert(1);

}

body {
  font-family: 'Roboto', sans-serif;
  /* margin: 0; */
  /* font-size: 13.5; */
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  overflow-x:hidden;
  color: var(--secondary-color)
}

.index-wrapper {
  display: grid;
  grid-column: 1fr;
  grid-row: 1fr;

  /* grid-gap: 20px; */

}

.index-wrapper > .fixed-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-right: 10px;
  top: 0;
  left: 0;
  right: 0;

}

.index-wrapper > .fixed-nav > .email > h4 {
  /* font-size: 1.5vw; */
  /* overflow: hidden; */
  text-align: right;
  font-family: monospace;
  margin-bottom: auto;
}

.fixed-nav > .email > h4:hover:not(.active){
  font-size: 1.5em;
  transition: .3s;
}

.index-wrapper > .header {
  background-color: var(--bg-color);
  font-size: 1.5em;

}

.index-wrapper > .header > .header-text {
  height: 25vh;
  margin-top: 20%;
  margin-left: 10%;
}

.index-wrapper > .header > .header-text > h1{
  font-family: monospace;
}

.index-wrapper > .header > .menu {
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: -3%;
}

.index-wrapper > .header > .menu a {
  background-color: var(--secondary-color);
  padding: 1px 20px;
  color: var(--primary-color);
  border-radius: 2px;
  text-decoration: none;
  font-family: monospace;
}

.index-wrapper > .header > .menu a.active {
  font-weight: bold;
}

.index-wrapper > .header > .menu a:hover:not(.active) {
  color: var(--bg-color);
  font-weight: bold;
  font-style: italic;
  transition: .3s;
}



.index-wrapper > .projects {
  margin: 20px;

}

.index-wrapper > .footer {
  margin: 0px 0px -10px -10px;
  width: 100%;
  background-color: var(--bg-color);
  /* position: absolute; */
  /* bottom: 0; */
  /* height: 2.5rem; */


}

.index-wrapper > .footer > .footer-text p {
  text-align: ;
  font-family: monospace;
  font-weight: bold;
}

.index-wrapper > .footer > .social-media-links {
  display: flex;
  justify-content: flex-end;


}

.index-wrapper > .footer > .social-media-links a {
  padding: 10px;

}


.index-wrapper > .footer > .social-media-links img {
  width: 30px;
  height: 30px;
  /* filter: grayscale(100%); */
  filter: var(--imgfilter);

}

.social-media-links a:hover {
  transform: scale(1.2);
  transition: .3s;
  /* filter: grayscale(100%); */
}





.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 85%; */


  em {
    /* margin-left: 10px; */
    /* font-size: 1rem; */
  }
}
.theme-switch {
  /* display: inline-block; */
  height: 34px;
  position: relative;
  width: 60px;

}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px
}

input:checked + .slider {
  background-color: salmon;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
